.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  margin: 20px auto;
  margin-bottom: 0;
}

.logoHolder {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.links {
  margin: 5px;
  font-family: "Trebuchet MS";
  font-size: 0.8em;
}

.links a {
  font-family: Verdana;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
